<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h3 th:text="'Logged in as ' + ${username} "></h3>
    <h1>Choose category</h1>

    <form action="customersPage" method="post">
        <input type="submit" value="Customers"/>
    </form>
    <form action="moviePage" method="post">
        <input type="submit" value="Movies"/>
    </form>
    <form action="rentalPage" method="post">
        <input type="submit" value="Rental"/>
    </form>
    <form action="logOut" method="post">
        <input type="submit" value="Log out"/>
    </form>

</body>
</html>