<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer data</title>
</head>
<body>
    <h1>Manage customer data</h1>
    <form action="customerData" method="post">
        <input type="submit" value="Enter new customer"/>
    </form>
    <form action="editData" method="post">
        <input type="submit" value="Edit customer data"/>
    </form>
    <form action="showList" method="post">
        <input type="submit" value="Show all customers"/>
    </form>
    <form action="goBack" method="post">
        <input type="submit" value="Go back to start"/>
    </form>

</body>
</html>