<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3 th:text="'Logged in as ' + ${username} "></h3>

    <form action="renting" method="post">
        <input type="submit" value="MovieRenting"/>
    </form>
    <form action="movieReturn" method="post">
        <input type="submit" value="MovieReturn"/>
    </form>

    <form action="availableMovies" method="post">
        <input type="submit" value="Show available movies"/>
    </form>
    <form action="notReturned" method="post">
        <input type="submit" value="Show movies that are not returned"/>
    </form>
    <form action="overdueMovies" method="post">
        <input type="submit" value="Show overdue movies"/>
    </form>
    <form action="customerHistory" method="post">
        <p>Enter customers social security number</p>
        <input type="text" name="socialSecurityNumber"/>
        <input type="submit" value="Show history"/>
    </form>
    <form action="goBack" method="post">
        <input type="submit" value="Go back to start"/>
    </form>

</body>
</html>