<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="renting" method="post">
        <input type="submit" value="MovieRenting"/>
    </form>
    <form action="" method="post">
        <input type="submit" value="MovieReturn"/>
    </form>

    <form action="" method="post">
        <input type="submit" value="Show available movies"/>
    </form>
    <form action="" method="post">
        <input type="submit" value="Show movies that are not returned"/>
    </form>
    <form action="" method="post">
        <input type="submit" value="Show overdue movies"/>
    </form>
    <form action="goBack" method="post">
        <input type="submit" value="Go back to start"/>
    </form>

</body>
</html>