<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${message}"></p>
    <form action="rent" method="post" th:object="${rentalIdForm}">
        <p>Enter customers social security number:</p>
        <input type="text" name="socialSecurityNumber" th:field="*{socialSecurityNumber}"/>
        <p>Enter movieId</p>
        <input type="text" name="movieId" th:field="*{movieId}"/>
        <p>Enter date:</p>
        <input type="text" name="rentalDate" th:field="*{rentalDate}"/>
        <input type="submit" value="Enter"/>
    </form>


    <form action="goBack" method="post">
        <input type="submit" value="Go back to start"/>
    </form>

</body>
</html>