<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
</head>
<body>
    <h3 th:text="'Logged in as ' + ${username} "></h3>
    <h1>Enter movieId:</h1>
    <form action="deleteById" method="post">
        <input type="text" name="movieId"/>
        <input type="submit" value="Delete"/>
    </form>
    <form action="goBack" method="post">
        <input type="submit" value="Go back to start"/>
    </form>

</body>
</html>