<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
    <th:block th:each="movie:${movies}">
        <tr>
            <td th:text="${movie.movieId}"></td>
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.description}"></td>
            <td th:text="${movie.releaseDate}"></td>
            <td th:text="${movie.category}"></td>
            <td th:text="${movie.movieFormat}"></td>
            <td th:text="${movie.available}"></td>
        </tr><br/>
    </th:block>
    <form action="goBack" method="post">
        <input type="submit" value="Go back to start"/>
    </form>

</body>
</html>