<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>
    <h3 th:text="'Logged in as ' + ${username} "></h3>
    <form action="movieData" method="post">
        <input type="submit" value="Add a movie"/>
    </form>

    <form action="deleteMovie" method="post">
        <input type="submit" value="Delete a movie"/>
    </form>
    <form action="showMovieList" method="post">
        <input type="submit" value="Show all movies"/>
    </form>
    <form action="findByName" method="post">
        <p>Enter movie name:</p>
        <input type="text" name="movieName"/>
        <input type="submit" value="Search movies by name"/>
    </form>
    <form action="findByCategory" method="post">
        <p>Enter category</p>
        <input type="text" name="movieCategory"/>
        <input type="submit" value="Search movies by category"/>
    </form>
    <form action="goBack" method="post">
        <input type="submit" value="Go back to start"/>
    </form>

</body>
</html>