<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie</title>
</head>
<body>
    <form action="movieData" method="post">
        <input type="submit" value="Add a movie"/>
    </form>

    <form action="deleteMovie" method="post">
        <input type="submit" value="Delete a movie"/>
    </form>
    <form action="showMovieList" method="post">
        <input type="submit" value="Show all movies"/>
    </form>
    <form action="goBack" method="post">
        <input type="submit" value="Go back to start"/>
    </form>

</body>
</html>